:root {
  --responsive-width: 920px;
}

@media (max-width: 2299px) and (min-width: 1350px) {
  :root {
    --responsive-width: 40vw;
  }
}

@media (max-width: 1349px) and (min-width: 600px) {
  :root {
    --responsive-width: 540px;
  }
}

@media (max-width: 599px) {
  :root {
    --responsive-width: 90vw;
  }
}
body {
    font-family: "Montserrat", "Arial", sans-serif;
    max-width: var(--responsive-width);
    margin: auto;
    color: #2A132F
}
h1 {
    font-family: "Roboto Slab", serif;
    font-size: 36px;
    font-weight: bold;
}
h2 {
    font-size: 20px;
    font-weight: bold;
}
a {
    color: #a96de8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
